<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 加载数据库redis配置文件 -->
	<!-- 需要加载配置文件 -->
	<bean id="propertyPlaceHolderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:lorchard-rabbitmq.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 连接配置 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${mq.host}" username="${mq.username}" password="${mq.password}"
		port="${mq.port}" />

	<!--rabbit mq 连接工厂 -->
	<rabbit:admin connection-factory="connectionFactory"  />

	<!-- 消息队列客户端 -->
	<rabbit:template id="amqpTemplate" exchange="${mq.exchang}_exchange"
		connection-factory="connectionFactory" />
	<!-- merchant消息队列 -->
	<rabbit:queue name="${mq.merchant.queue}_messageQueue"
		durable="true" auto-delete="false" exclusive="false" />
	<!-- websocket消息队列 -->
	<rabbit:queue name="${mq.websocket.queue}_messageQueue"
		durable="true" auto-delete="false" exclusive="false" />
	<!-- rabbitmq 交换机配置 -->
	<rabbit:direct-exchange name="${mq.exchang}_exchange"
		durable="true" auto-delete="false">
		<rabbit:bindings>
			<rabbit:binding queue="${mq.merchant.queue}_messageQueue"
				key="${mq.merchant.queue}"></rabbit:binding>
			<rabbit:binding queue="${mq.websocket.queue}_messageQueue"
				key="${mq.websocket.queue}"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:direct-exchange>
	

	<!-- 消息消费者 -->
	<bean id="messageConsumer"
		class="com.ysdevelop.lorchard.websocket.service.impl.MessageConusmerService"></bean>
	
	<!-- 绑定队列监听器 -->
	<rabbit:listener-container
		connection-factory="connectionFactory" acknowledge="auto"
		requeue-rejected="false">
		<rabbit:listener ref="messageConsumer"
			queues="${mq.merchant.queue}_messageQueue" />
	</rabbit:listener-container>
	



</beans>
