<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.loarchard.merchant.mapper.MerchantDao">


	<insert id="add" parameterType="com.ysdevelop.loarchard.merchant.entity.Merchant">
		insert into t_lorchard_mall_merchant(mobile,password,salt,createTime)
		values(#{mobile},#{password},#{salt},now())
	</insert>


	<select id="getUserByName" resultType="com.ysdevelop.lorchard.shiro.entity.BaseAuth">
		select
		id,mobile,`password`,salt,createTime
		from t_lorchard_mall_merchant
		where mobile = #{name}
	</select>

</mapper>