<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.loarchard.merchant.mapper.ShopDao">

	<insert id="addShop" parameterType="com.ysdevelop.loarchard.merchant.entity.Shop">
	   insert into `t_lorchard_mall_shop`(`name`,`province`,`city`,`town`,`detailAddress`,`description`,`operatorName`,`mobile`,`qq`,`wechatNo`,`email`,`createTime`)
	   values(#{name},#{province},#{city},#{town},#{detailAddress},#{description},#{operatorName},#{mobile},#{qq},#{wechatNo},#{email},now())
	</insert>

</mapper>
