.layui-input {
	/*边框*/
	border: 1px solid #f2f2f2;
	/*去掉边框*/
	border: none;
	text-align: center;
}


#financelabel {
	font-size: 30px;
}

#financeInput {
	font-size: 31px;
	width: 60%;
	margin-top: -4%;
	background-color: #f2f2f2;
	/*边框*/
	border: 1px solid #f2f2f2;
	/*去掉边框*/
	border: none;
	text-align:left;
}

#financeInput2 {
	font-size: 31px;
	width: 40%;
	margin-top: -7%;
	/*边框*/
	border: 1px solid #f2f2f2;
	/*去掉边框*/
	border: none;
	text-align: center;
}

p {
	margin-bottom: 5%;
}

.layui-col-md9 {
	background-color: #e2e2e2;
	height: 40px;
	padding-top: 1%;
	margin-top: 2px;
	margin-bottom: 10px;
	width: 80%;
}
.layui-input{
width:150%;
}
span {
	color: #c2c2c2;
}

.layui-col-sm4 {

	padding-left: 2%;
}

.layui-form-label {
	width: 12%;
	margin-right: 2%;
}

.layui-form-item {
	margin-top: 8%;
}

.layui-table-cell {
	margin-left: 0%;
}

.error {
	color: red
}