.container{
	width: 400px;
	margin: 0 auto;
	padding-bottom: 100px;
	padding-top: 40px;
}
.portrait{
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
}
.portrait img{
	width: 80px;
	height: 80px;
}
.title{
	font-size: 16px;
	margin-top: 25px;
}
.laber{
	font-size: 14px;
}
.separate{
	height: 40px;
	width: 100%;
	    color: #595961;
	border-bottom:1px solid #e5e5e5;
	margin-top: 15px;
}
.separate .laber{
	float: left;
	width: 90px;
	    line-height: 40px;
}
.separate input{
	float: left;
	border: none;
	line-height: 38px;
	outline: none; 
    border: none; 
    -webkit-box-shadow: none;
    box-shadow: none;
        text-shadow: 0 0 0 #aaa;
    -webkit-text-fill-color: transparent;
    color: #555;
}
.separate input:focus{
	border:none;
}
.clear{
	clear: both;
}
.introduction{
	margin-top: 30px;
}
.introduction .laber{
	float: none;
	color: #595961;
	    margin-bottom: 12px;
}
.introduction input{
	float: none;
}
textarea{
	width: 400px;
	height: 115px;
	padding: 10px;
	border-color: #CED9DC;
	text-shadow: 0 0 0 #aaa;
	-webkit-text-fill-color: transparent;
}
textarea:focus{
	-webkit-text-fill-color: initial;
	border-color: #CED9DC;
}
.apply{
	width: 100%;
	height: 45px;
    background-color: #1e8aca;
    border-color: #1e8aca;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 50px;
    line-height: 43px;
    text-align: center;
    color: #fff;

}
span{
	margin-left: -14px;
    color: red;
    margin-right: 8px;
}