<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.lorchard.api.mapper.ApiMemberDao">

     <select id="getByOpenid" resultType="com.ysdevelop.lorchard.api.entity.MemberVo">
        select
        `m`.id as id,`m`.gender as gender,`m`.nickname as nickname,`m`.mobile as mobile,`m`.avatar as avatar,
        `m`.province as province,`m`.city as city,
        `m`.createTime as createTime,
        `m`.status as status
		from `t_lorchard_mall_member` as `m`
		where openid = #{openid}
     </select>
	
	<insert id="addMemeber" parameterType="com.ysdevelop.lorchard.api.entity.MemberVo"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		`t_lorchard_mall_member`(`avatar`,`openid`,`nickname`,`gender`,`language`,`country`,`province`,`city`,`registerIp`,`createTime`)
		values
		(#{avatar},#{openid},#{nickname},#{gender},#{language},#{country},#{province},#{city},#{registerIp},now())
	</insert>
	
	<select id="getByMemberId" resultType="com.ysdevelop.lorchard.api.entity.MemberVo">
        select
        `m`.id as id,`m`.openid as openid,`m`.gender as gender,
        `m`.nickname as nickname,`m`.mobile as mobile,`m`.avatar as avatar,
        `m`.province as province,`m`.city as city,
        `m`.createTime as createTime,
        `m`.status as status
		from `t_lorchard_mall_member` as `m`
		where id = #{orderMemberId}
     </select>
     
</mapper>
