<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ysdevelop.lorchard.api.mapper.ApiOrderItemDao">
	
	<insert id="batchInsert">
		<foreach collection="orderItems" item="item" index="index"
			open="" close="" separator=";">
			insert into `t_lorchard_mall_goods_order_item`
			(`orderNo`,`merchantId`,`memberId`,`goodsId`,`goodsName`,`goodsPrice`,`goodsType`,`parentId`,`parentCategoryName`,`itemNum`,`itemPrice`,`createTime`)
			values(#{item.orderNo},#{item.merchantId},#{item.memberId},#{item.goodsId},#{item.goodsName},#{item.goodsPrice},#{item.goodsType},#{item.parentId},#{item.parentCategoryName},#{item.itemNum},#{item.itemPrice},now())
		</foreach>
	</insert>
	
	<select id="list" resultType="com.ysdevelop.lorchard.api.entity.OrderItemVo">
		select 
		  `orderNo`,`merchantId`,`memberId`,`goodsId`,`goodsName`,`goodsPrice`,`goodsType`,`parentId`,`parentCategoryName`,`itemNum`,`itemPrice`
		from
		  t_lorchard_mall_goods_order_item
		where
		   `merchantId` = #{merchantId} AND `memberId` = #{memberId} 
	</select>
	
	<select id="getOrderByNo" resultType="com.ysdevelop.lorchard.api.entity.OrderItemVo">
		select 
		  `orderNo`,`merchantId`,`memberId`,`goodsId`,`goodsName`,`goodsPrice`,`goodsType`,`parentId`,`parentCategoryName`,`itemNum`,`itemPrice`
		from
		  t_lorchard_mall_goods_order_item
		where
		  orderNo = #{orderNo}
	</select>
	
	<!-- 通过商品id修改商品的库存和销量 -->
	<update id="updateStockAndSales" parameterType="com.ysdevelop.lorchard.api.entity.OrderItemVo">
  		<foreach collection="list" item="orderItem" index="index" open="" close="" separator=";">
  			update `t_lorchard_mall_goods` as `g`
			set `g`.stock = (#{orderItem.stock}-#{orderItem.itemNum} ) ,`g`.sales = (#{orderItem.sales}+#{orderItem.itemNum} )
			where `g`.id=#{orderItem.goodsId}
      	</foreach> 
  	</update>
  
  	<!-- 通过goodsId获取商品的库存金额销量 -->
  	<select id="getStockAndSales" resultType="com.ysdevelop.lorchard.api.entity.GoodsVo">
  		select 
  		`g`.id as id,
  		`g`.stock as `stock`,
  		`g`.sales as `sales`
  		from `t_lorchard_mall_goods` as `g`
  		where `g`.id IN
  		<foreach collection ="list" item="orderItem" index= "index" open="(" separator="," close=")">
            #{orderItem.goodsId}
        </foreach >
  	</select>	
</mapper>