<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ysdevelop.lorchard.api.mapper.ApiOrderLogDao">
	<insert id="addOrderLog" parameterType="com.ysdevelop.lorchard.api.entity.OrderLogVo">
		 insert into `t_lorchard_mall_goods_order_log`
	    	(`memberId`,`merchantId`,`orderNo`,
	    	`orderPendingBalance`,`description`,`orderType`,`createTime`) 
	    values 
	    	(#{memberId},#{merchantId},#{orderNo},#{orderPendingBalance},
	    	#{description},#{orderType.index},now())
	</insert>
</mapper>