<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ysdevelop.lorchard.api.mapper.ApiSpellingGroupDao">
	<select id="goodsIdList" resultType="java.lang.Long">
		select 
			`goodsId`
		from 
			t_lorchard_mall_activity_goods
		where
			`activityId`=#{activityId}
	</select>
	
	<select id="getByMerchantId" resultType="com.ysdevelop.lorchard.api.entity.SpellingGroupVo">
		select 
			`id`,`merchantId`,`startTime`,`endTime`,`activityName`,`description`
		from 
			t_lorchard_mall_activity
		where
			`merchantId`=#{merchantId} 
			and `activityType` = 0 
			and `activityStatus` = 0
	</select>
	
	<insert id="addSpellingGroupOrder" parameterType="com.ysdevelop.lorchard.api.entity.SpellingGroupVo" useGeneratedKeys="true" keyProperty="id">
		insert into `t_lorchard_mall_spellingGroup_order`(`merchantId`,`inviteId`,`createTime`)
		values(#{merchantId},#{inviteId},now())
	</insert>
	
	<update id="updateSpellingGroupOrderId">
		update `t_lorchard_mall_goods_order`
		set `spellingGroupOrderId`=#{id}
		where `orderNo`=#{orderNoLast}
	</update>
	
	<update id="updateSpellingGroupOrder">
		update `t_lorchard_mall_spellingGroup_order` 
		set  `memberId`=#{memberId}
		where `order`=#{orderNoLast}
	</update>
	<!--获取拼团订单的人数-->
	<select id="getMemberCount" resultType="java.lang.Long">
	select
	s.`memberId`
	from
	`t_lorchard_mall_spellingGroup_order` as `s` left join
	`t_lorchard_mall_goods_order` as `o` on s.`id` = o.`spellingGroupOrderId`
	where
	o.`orderNo`=#{orderNo}
	</select>
</mapper>