<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ysdevelop.lorchard.merchant.mapper.ActivityDao">
	<!-- 添加活动 -->
	<insert id="add" parameterType="com.ysdevelop.lorchard.merchant.entity.SpellingGroup" useGeneratedKeys="true" keyProperty="id">
		insert into `t_lorchard_mall_activity`(`merchantId`,`startTime`,`endTime`,`activityName`,`activityType`,`description`,`createTime`,`activityStatus`)
		values(#{merchantId},#{startTime},#{endTime},#{activityName},#{activityType},#{description},now(),0)
	</insert>
	
	<!-- 添加活动商品 -->
	<insert id="addActivityGoods" >
	   insert into `t_lorchard_mall_activity_goods`(`activityId`,`goodsId`,`createTime`)
	   values
	   <foreach collection="activityGoods" index="index" item="activityGoods" separator=",">
			(#{spellingGroup.id},
			#{activityGoods},
			now())
		</foreach>
	</insert>
	
	
	<!--查看所有活动-->
	<select id="list" resultType="com.ysdevelop.lorchard.merchant.entity.Activity">
		select
		`a`.id as `id`,
		`a`.activityName as `activityName`,
		`a`.activityType as `activityType`,
		`a`.startTime as `startTime`,
		`a`.endTime as `endTime`,
		`a`.createTime as `createTime`,
		`a`.updateTime as `updateTime`,
		`a`.description as `description`
		from
		`t_lorchard_mall_activity` as `a`
		<where>
		  	1=1
		  	<if test="queryMap.activityName !=null and queryMap.activityName != ''">
				and a.`activityName` like CONCAT('%',#{queryMap.activityName},'%')
		  	</if>
		  	<if test="queryMap.startTime != null and queryMap.startTime != ''">
                <![CDATA[ and `a`.startTime>=#{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
                <![CDATA[ and `a`.endTime<=#{queryMap.endTime} ]]>
		 	</if>
		 	<if test="queryMap.activityName !=null and queryMap.activityName != ''">
				and a.`activityName` =#{queryMap.activityName}
			</if>
			<if test="queryMap.id !=null and queryMap.id != ''">
				and a.`id` =#{queryMap.id}
			</if>
			and a.`merchantId` =#{queryMap.merchantId}
			and a.`activityStatus`=0
		</where>
	</select>
	
	<!-- 结束活动-->
	<update id="deleteById">
		update `t_lorchard_mall_activity`
		set `activityStatus`=1
		where
		`id`=#{id}
	</update>
	
	<select id="getById" resultType="com.ysdevelop.lorchard.merchant.entity.SpellingGroup">
		select 
		`a`.activityName as `activityName`,
		`a`.description as `description`,
		`a`.activityType as `activityType`,
		`a`.startTime as `startTime`,
		`a`.endTime as `endTime`
		from 
		`t_lorchard_mall_activity` as `a`
		where `a`.id=#{id}
	</select>
	
	<select id="getGoodsById" resultType="com.ysdevelop.lorchard.merchant.entity.Goods">
		select
		`a`.goodsId as `id`,
		`g`.name as `name`,
		`c`.name as `parentCategoryName`,
		`g`.description as `description`,
		`g`.sales as `sales`
		from
		`t_lorchard_mall_activity_goods` as `a` 
		left join `t_lorchard_mall_goods` as `g` on `g`.id=`a`.goodsId
	  	left join `t_lorchard_mall_goods_category` as `c` on `c`.id = `g`.parentId
		where `a`.activityId=#{queryMap.id}
	</select>
	
	<select id="groupIsExist" resultType="com.ysdevelop.lorchard.merchant.entity.SpellingGroup">
		select 
		`a`.id as `id`
		from 
		`t_lorchard_mall_activity` as `a`
		where `a`.merchantId=#{merchantId}
		and `a`.activityStatus =0
		and `a`.activityType =0
	</select>
</mapper>