<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.lorchard.merchant.mapper.FinanceDao">
	<!--查看所有资金-->
	<select id="list" resultType="com.ysdevelop.lorchard.merchant.entity.Finance">
		select
		`f`.id as `id`,
		`f`.status as `status`,
		`f`.account as `account`,
		`f`.createTime as `createTime`,
		`f`.balance as `balance`,
		`f`.orderNo as `orderNo`,
		`f`.withdrawalId as `withdrawalId`,
		`f`.orderId as `orderId`
		from
		`t_lorchard_mall_finance` as `f`
		<where>
		  1=1
		  <if test="queryMap.startTime != null and queryMap.startTime != ''">
                <![CDATA[ and `f`.createTime > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
                <![CDATA[ and `f`.createTime < #{queryMap.endTime} ]]>
		 	</if>
		 	<if test="queryMap.status !=null and queryMap.status != ''">
				and f.`status` =#{queryMap.status}
			</if>
			and f.`merchantId` =#{queryMap.orderMerchantId}
		</where>
	</select>
	
	<!--查看提现记录-->
	<select id="cashList" resultType="com.ysdevelop.lorchard.merchant.entity.Finance">
		select
		`w`.id as `id`,
		`w`.createTime as `createTime`,
		`w`.cash as `cash`,
		`w`.name as `name`,
		`w`.bankNumber as `bankNumber`,
		`w`.openBank as `openBank`,
		`f`.balance as `balance`
		from
		`t_lorchard_mall_withdrawal` as `w`
		LEFT JOIN `t_lorchard_mall_finance` as `f` on `f`.withdrawalId =`w`.id
		where w.`merchantId` =#{queryMap.merchantId}
		order by `w`.id desc
	</select>
	
	<!--提取最后一条数据的id-->
	<select id="queryId" resultType="long">
		select `w`.id  as `id`
		from
		`t_lorchard_mall_withdrawal` as `w`
		order by `id` desc limit 1
	</select>
	
	<!--新增提现记录-->
	<insert id="withdraw" parameterType="com.ysdevelop.lorchard.merchant.entity.Finance">
	   insert into `t_lorchard_mall_withdrawal`
	   (`id`,`merchantId`,`cash`,`name`,`bankNumber`,`openBank`,`createTime`)
	   values(#{id},#{merchantId},#{cash},#{name},#{bankNumber},#{openBank},NOW())
	</insert>
	
	<!--查询余额-->
	<select id="queryBalance" resultType="Double">
		select `f`.balance  as `balance`
		from
		`t_lorchard_mall_finance` as `f`
		where `f`.merchantId=#{merchantId}
		order by `id` desc limit 1
	</select>
	
	<!--提现后新增余额记录-->
	<insert id="balance" parameterType="com.ysdevelop.lorchard.merchant.entity.Finance">
		insert into `t_lorchard_mall_finance` 
	   (`status`,`merchantId`,`balance`,`createTime`,`withdrawalId`,`account`,`totalCommission`)
	   values(1,#{merchantId},#{balance},NOW(),#{withdrawalId},#{account},#{totalCommission})
	</insert>
	
	
	<!--查询财务表中的数据 -->
	<select id="getFinance"
		resultType="com.ysdevelop.lorchard.merchant.entity.Finance">
		select
		`f`.id as `id`,
		`f`.status as `status`,
		`f`.orderNo as `orderNo`,
		`f`.account as `account`,
		`f`.balance as `balance`,
		`f`.memberId as `memberId`,
		`f`.commission as `commission`,
		`f`.totalCommission as `totalCommission`,
		`f`.withdrawalId as `withdrawalId`,
		`f`.createTime as `createTime`
		from
		`t_lorchard_mall_finance` as `f`
		where
		`f`. merchantId =#{merchantId}
		order by `id` desc limit 1
	</select>

	<!-- 订单完成向财务表中插数据 -->
	<insert id="insertFinance"
		parameterType="com.ysdevelop.lorchard.merchant.entity.Finance"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		t_lorchard_mall_finance(`orderId`,`status`,`merchantId`,`orderNo`,`account`,`balance`,`memberId`,`commission`,`totalCommission`,`createTime`)
		values(#{orderId},#{status},#{merchantId},#{orderNo},#{account},#{balance},#{memberId},#{commission},#{totalCommission},now())
	</insert>

	<!--查询资金表最后一条数据 -->
	<select id="getLast"
		resultType="com.ysdevelop.lorchard.merchant.entity.Finance">
		select
		`f`.balance as `balance`,
		`f`.totalCommission as `totalCommission`
		from
		`t_lorchard_mall_finance` as `f`
		order by `id` desc limit 1
	</select>
	
	<!-- 查询提现总额 -->
	<select id="getAllWithdrawal" resultType="Double">
		select 
		sum(`f`.account) as `totalCash`
		from
		`t_lorchard_mall_finance` as `f`
		where `f`.status=1 and `f`.merchantId=#{merchantId}
	</select>
</mapper>