<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.lorchard.merchant.mapper.MerchantDao">

	<!-- 商家注册 -->
	<insert id="add" parameterType="com.ysdevelop.lorchard.merchant.entity.Merchant">
		insert into t_lorchard_mall_merchant(mobile,password,salt,createTime)
		values(#{mobile},#{password},#{salt},now())
	</insert>

	<!-- 获取商家信息 -->
	<select id="getUserByName" resultType="com.ysdevelop.lorchard.shiro.entity.BaseAuth">
		select
		id,mobile as `loginName`,`password`,salt,status,createTime
		from t_lorchard_mall_merchant
		where mobile = #{name}
	</select>
	
	<!-- 改变注册状态 -->
	<update id="updateStatusById" >
	    update 
	    t_lorchard_mall_merchant
	    set status = 0
	    where id = #{userId}
	</update>
	
	
	<!--店铺打烊-->	
  <update id="updateBusinessStautsToOne" >
	    update 
	    t_lorchard_mall_merchant
	    set businessStauts = 1
	    where id = #{userId}
	</update>
	<!--店铺营业-->	
	 <update id="updateBusinessStautsToZero" >
	    update 
	    t_lorchard_mall_merchant
	    set businessStauts = 0
	    where id = #{userId}
	</update>
	<!--获取店家营业打烊状态-->	
	 <select id="getBusinessStauts" resultType="java.lang.Long">
	    select 
	    businessStauts
	    from t_lorchard_mall_merchant
	    where id = #{userId}
	</select>
	

</mapper>