<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.lorchard.merchant.mapper.ShopFlowDao">

	<insert id="addDailyShopFlow">
        insert into `t_lorchard_mall_shop_flow_stat_daily_site`
        (`pageView`,`visitorNumber`,`goodsView`,`goodsAceessNumber`,`date`,`createTime`)
        values(
        select count(id) from `t_lorchard_mall_shop_system_log`
        where `createTime` BETWEEN date_sub(CURDATE(),interval 2 day) AND CURDATE()
        ,
        select count(distinct(memberId)) from `t_lorchard_mall_shop_system_log`
        `createTime` BETWEEN date_sub(CURDATE(),interval 2 day)  AND  CURDATE()
        ,
        select count(id) 
        from `t_lorchard_mall_shop_system_log`
        where type = 1 and `createTime` BETWEEN date_sub(CURDATE(),interval 2 day)  AND CURDATE()
        ,
        select count(distinct(`goodsId`)) from `t_lorchard_mall_shop_system_log`
        where type = 1 and `createTime` BETWEEN date_sub(CURDATE(),interval 2 day)  AND CURDATE()
        ,
        CURDATE(),
        NOW()
        )
	</insert>


</mapper>