<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.lorchard.merchant.mapper.ShopFlowDao">
  
    <!-- 店铺每日流量回调 -->
    <select id="callShopFlowDailyProcedure" statementType="CALLABLE" >
	   call shopFlowStatDaily();
	</select>

	<select id="recentSevenDayStat" resultType="com.ysdevelop.lorchard.merchant.entity.ShopFlow">
	SELECT
	a.click_date AS `date`,
	b.merchantId AS `merchantId`,
	ifnull(b.pageView, 0) AS pageView,
	IFNULL(b.`visitorNumber`, 0) AS `visitorNumber`,
	IFNULL(b.`goodsView`, 0) AS `goodsView`,
	IFNULL(b.`goodsAceessNumber`, 0) AS `goodsAceessNumber`
    FROM
	(
		SELECT
			date_sub(curdate(), INTERVAL 7 DAY) AS click_date
		UNION ALL
		    SELECT
			date_sub(curdate(), INTERVAL 6 DAY) AS click_date
		UNION ALL
			SELECT
		    date_sub(curdate(), INTERVAL 5 DAY) AS click_date
		UNION ALL
			SELECT
			date_sub(curdate(), INTERVAL 4 DAY) AS click_date
		UNION ALL
			SELECT
			date_sub(curdate(), INTERVAL 3 DAY) AS click_date
			UNION ALL
		SELECT
			date_sub(curdate(), INTERVAL 2 DAY) AS click_date
			UNION ALL
			SELECT
			date_sub(curdate(), INTERVAL 1 DAY) AS click_date
	    ) a
      LEFT JOIN (
	   SELECT
		  `pageView`,
		  `merchantId`,
		  `visitorNumber`,
		  `goodsView`,
		  `goodsAceessNumber`,
		  `date`,
		  `createTime`
   	  FROM
		`t_lorchard_mall_shop_flow_stat_daily_site`
		where `merchantId` = #{merchantId}
      ) b ON a.`click_date` = b.`date`
      ORDER BY `a`.click_date
	</select>

   <select id="yesterdayStat" resultType="java.util.HashMap">
      SELECT
          (select `name` from `t_lorchard_mall_shop` where `merchantId` = #{merchantId} ) as merchantName,
		  `pageView`,
		  `merchantId`,
		  `visitorNumber`,
		  `goodsView`,
		  `goodsAceessNumber`,
		  `date`,
		   IFNULL((
		   SELECT
			  count(`id`) FROM `t_lorchard_mall_goods`
		   WHERE
			 `merchantId` = #{merchantId}
	       ),0) AS goodsCount,
		  `createTime`
   	     from
		`t_lorchard_mall_shop_flow_stat_daily_site`
	  where `merchantId` = #{merchantId} and  DATEDIFF(`date`, NOW()) =- 1 
   </select>

	<!-- 查询所有商家id -->
	<select id="getMerchantId" resultType="java.lang.Long">
		SELECT `merchantId`
		from `t_lorchard_mall_shop`
	</select>
	<!--获得不同状态订单的条数-->
	<select id="getOrderCount" resultType="java.lang.Long">
	  select 
	  count(`id`)
	  from `t_lorchard_mall_goods_order` as `o`
	  where
	  `o`.orderStatus = #{status}
	  and `o`.orderMerchantId=#{merchantId}
	</select>
</mapper>