<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.lorchard.merchant.mapper.ShopFlowDao">

	<insert id="addDailyShopFlow">
	INSERT INTO `t_lorchard_mall_shop_flow_stat_daily_site`(
	`pageView` ,`visitorNumber` ,`goodsView` ,`goodsAceessNumber` ,`date` ,
	`createTime`)
	VALUES
	(IFNULL(( SELECT count(id) FROM
	`t_lorchard_mall_shop_system_log` WHERE
	DATEDIFF(`createTime` , NOW()) =-
	1) ,0),
	IFNULL(( SELECT
	count(DISTINCT(memberId)) FROM
	`t_lorchard_mall_shop_system_log`
	WHERE
	DATEDIFF(`createTime` , NOW()) =-1) ,0),
	IFNULL((SELECT count(id)
	FROM `t_lorchard_mall_shop_system_log`
	WHERE
	type = 1 AND(
	DATEDIFF(`createTime` , NOW()) =- 1)) ,0) ,
	IFNULL((SELECT count(DISTINCT(`goodsId`)) FROM
	`t_lorchard_mall_shop_system_log`
	WHERE
	type = 1 AND(
	DATEDIFF(`createTime` , NOW()) =- 1)
	) ,0) ,
	date_sub(curdate(),interval 1 day),
	NOW()
	)
	</insert>


</mapper>